<form id="authForm" name="loginForm" action="/api/sessions/login" method="POST">
    <label for="email"> Email </label><br>
    <input type="text" name="email" placeholder="Ingrese su email" /><br>
    <label for="password"> Password </label><br>
    <input type="text" name="password" placeholder="Ingrese su password" /><br>

    <button type="submit"> Login </button>
    <a href="/register"> Sign up </a>
    <a href="/recoverPassword"> Recuperar contraseña? </a>
</form>
<a href="/api/sessions/github">Github</a>
<script src="js/auth.js"></script>