<form id="loginForm" action="/api/sessions/login" method="POST">
    <label for="email"> Email </label><br>
    <input type="text" name="email" placeholder="Ingrese su email" /><br>
    <label for="password"> Password </label><br>
    <input type="text" name="password" placeholder="Ingrese su password" /><br>

    <button type="submit"> Login </button>
</form>
<script>
    document.getElementById('loginForm').addEventListener('submit', function (event) {
        event.preventDefault();
        window.location.href = '/products';
    });
</script>