<form id="authForm" name="recoverForm" action="/api/sessions/recoverPassword" method="POST">
    <label for="email"> Email </label><br>
    <input type="text" name="email" placeholder="Ingrese su email" /><br>

    <button type="submit"> Recuperar contraseña </button>
</form>
<script src="js/auth.js"></script>